.resultCont {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 1rem;
  justify-content: center;
}

.resultsSubHdrs {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.resultsSubHdrs h4 {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 1rem;
}

.results {
  flex: 0 0 25%;
}

.results > span {
  display: inline-block;
  padding: 1px;
}

.results > span:first-child {
  color: #918d8d;
  margin-right: 0.2rem;
  font-size: 1rem;
}

.correct {
  color: #008000;
}

.wrong {
  color: #f00;
}

.percent {
  color: #6e6c6c;
}

@media screen and (max-width: 50rem) {
  .resultCont {
    justify-content: left;
  }

  .results {
    flex: 0 0 50%;
  }

  .results span {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 35rem) {
  .resultCont {
    text-align: center;
  }

  .results {
    flex: 0 0 100%;
  }
}
