.container {
  background-color: transparent;
  text-align: center;
  font-size: 3rem;
  display: block;
  width: 100%;
  /* border: 1px solid #000;
  box-shadow: 2px 2px 2px #000; */
  /* margin-bottom: 4rem;
  padding-bottom: 2rem; */
}

.subCont {
  font-size: 3rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 6px 6px #000;
  margin-bottom: 2rem;
  background-color: #fff;
}

.btnCont {
  padding-bottom: 1rem;
}

.chosen {
  background-color: #008000;
  color: #fff;
}

.qstnCont {
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  display: inline-block;
  margin: 5px;
}

.qstnCont span {
  /* padding: 1rem; */
}

.qstnCont .input {
  width: 8rem;
  font-size: 6rem;
  font-weight: bold;
}

.qstnCont .btn {
  font-size: 2.3rem;
  margin-left: 1rem;
}

.resultCont {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 0.5rem;
}

.resultsSubHdrs {
  line-height: 1.5rem;
}

.resultsSubHdrs h4 {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.5rem;
}

.results {
  flex: 0 0 25%;
}

.results > span {
  display: inline-block;
  padding: 1px;
}

.results > span:first-child {
  color: #918d8d;
  margin-right: 0.2rem;
  font-size: 1rem;
}

.correct {
  color: #008000;
}

.wrong {
  color: #f00;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #d3d3d3;
}
